:root {
    --thin-paragraph: 'Kanit', sans-serif;
    --thick-navbar-font: 'Noto Sans', sans-serif;
    --main-font: 'Rubik', sans-serif;
}

/* font-family: 'Dhurjati',
sans-serif;
font-family: 'Kanit',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Noto Sans',
sans-serif;
font-family: 'Rubik',
sans-serif; */

.logo-container {
    margin: 0 20px;
    height: 80px;
    width: 80px;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

header {
    /* background-color: #c8dcea; */
    background-color: var(--white);
    height: 15%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid var(--light);
    box-shadow: 0px 1px 4px var(--gray) ;
}

nav {
    width: 30%;
    display: flex;
}

nav a span {
    font-size: 2rem;
}
.nav-element span{
    text-decoration: none;
    padding: 0 8px;
    color: black;
    /* font-family: var(--thick-navbar-font); */
     font-family: 'Ubuntu', sans-serif;;
    transition: text-decoration 0.5s ease-in-out;
}
.nav-element a{
    height: 100%;
}
.nav-element a:hover{
    text-decoration: none;
}
.nav-element span:hover{
    color: var(--orange);
} 


@media screen and (max-width:700px) {
    nav{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        
    }

    .logo-container {
        margin: 0 10px;
        height: 70px;
        width: 120px;
    }

    header {
        justify-content: space-between;
        /* margin: 18px 0px; */
        height: 20%;
        display: flex;
        flex-direction: column;
    }

    nav button {
        padding: 0px 10px 10px 0px;
    }
    nav a span{
        font-size: 2rem;
    }


}