* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    /* overflow: hidden; */
    /* height: 100vh; */
    background-color: #123344;
    /* background-color: black; */
    /* color: black; */
    color: white;
    
}

#preloader {
    height: 100vh;
    color: white;
    width: 100vw;
    background-color: black;
    position: absolute;
    background: black url("./assets/images/loader.gif") no-repeat center;
    background-size: 60px;
}

:root {
    --thin-paragraph: 'Kanit', sans-serif;
    --thin-navbar-font: 'Montserrat', sans-serif;
    --main-font: 'Rubik', sans-serif;
}
.btn{
    background-color: #e38b0f;
}
a, button a{
    text-decoration: none;
}
.btn a{
    color: white;
    text-decoration: none;
}
nav a{
    font-size: 1.4rem;
}
.header{
    font-size: 3.7rem;
}
.main-homePage {
    overflow: hidden;
    display: flex;
    height: 45%;
    /* width: 100vw; */
    padding: 20px;
}

.main-left {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 187px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-left h1 {
    padding: 9px;
}

.main-right {
    overflow: hidden;
    /* background-color: green; */
    width: 50%;
    /* height: 45%; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.main-right img {
    /* height: 100%; */
    /* margin-top: -50px; */
}

h1 {
    font-size: 4rem;
    font-family: var(--main-font);
}

p {
    font-size: 2rem;
    font-family: var(--thin-navbar-font);
}

.right-img-container {
    overflow: hidden;
    /* height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.project-card{
    /* background-color: red; */
    /* width: 400px; */
}
footer{
    background-color: black;
    color: white;
    font-size: 1.5rem;
     font-weight: bold;
     padding: 10px 20px;
  text-align: center;
}

@media screen and (max-width:700px) {

    #preloader {
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10;

    }

    .main-homePage {
        flex-wrap: nowrap;
        display: flex;
        overflow: hidden;
        height: 100%;
        flex-direction: column-reverse;
    }

    .main-homePage h1,
    p {
        padding: 0px 8px;
        text-align: center;
    }

    .main-left {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0px 8px;
    }

    .main-right {
        text-align: center;
        height: 50%;
        width: 100%;
    }

    .right-img-container {
        width: 70%;
        margin: auto;
    }
}