* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    /* overflow: hidden; */
    /* height: 100vh; */
}

#preloader {
    height: 100vh;
    color: white;
    width: 100vw;
    background-color: black;
    position: absolute;
    background: black url("./assets/images/loader.gif") no-repeat center;
    background-size: 60px;
}

:root {
    --thin-paragraph: 'Kanit', sans-serif;
    --thin-navbar-font: 'Montserrat', sans-serif;
    --main-font: 'Rubik', sans-serif;
}

.main-homePage {
    overflow: hidden;
    display: flex;
    height: 85%;
    width: 100vw;
}

.main-left {
    overflow: hidden;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 157px;
    padding: 30px;
    flex-direction: column;
}

.main-left h1 {
    padding: 5px;
}

.main-right {
    overflow: hidden;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-right img {
    height: 100%;
    margin-top: -50px;
}

h1 {
    font-family: var(--main-font);
}

p {
    font-family: var(--thin-navbar-font);
}

.right-img-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:700px) {

    #preloader {
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10;

    }

    .main-homePage {
        flex-wrap: nowrap;
        display: flex;
        overflow: hidden;
        height: 100vh;
        flex-direction: column-reverse;
    }

    .main-homePage h1,
    p {
        padding: 0px 8px;
        text-align: center;
    }

    .main-left {
        width: 100%;
        height: 50%;
        padding: 0px 8px;
    }

    .main-right {
        height: 50%;
        width: 100%;
    }

    .right-img-container {
        width: 70%;
    }
}