#center {
    text-align: center;
    margin: auto;

}

.header {
    display: flex;
}

#left, #right {
    height: 400px;
    width: 400px;
    margin-top: 20px;
    /* margin-left: 20px; */

}

#left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    padding-left: 40px;
    text-align: center;
    margin-left: 70px;
}

.head {
    font-size: 3.5rem;
    font-weight: bold;
}

.head1 {
    padding-top: 7px;
    font-size: 3rem;
}

.description {
    margin-top: 35px;
    padding-top: 10px;
    font-size: 1.5rem;
}

.description ul li div {
    margin-top: 10px;
}

#right {
    width: 50%;
    background-image: url(../images/suraj.jpeg);
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 407px;
}

.middle {
    /* border: 2px solid blue; */
    width: 100%;
    /* height: fit-content; */
    display: flex;

}

.mleft,
.mright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;     border: 2px solid purple;
    height: 300px;
    width: 50%;
}

#mlefthead,
#mrighthead {
    font-size: 2.7rem;
}

.head2 {
    font-size: 1.2rem;
}

.head3 {
    font-size: 1.2rem;
}

#about {
    margin: auto;
    width: 100%;
}